*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

input{
    width: 85%;
    height: 6%;
    margin-top: 4%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
    font-weight: bold;   
    box-shadow: 0px 2px 5px #815d4a;
    opacity: 0.8;
    padding-left: 8px;
    padding-right: 8px;    
}
.date{
    color: rgb(124, 124, 124); 
}
.img{
    width: 160px;
    height: 110px;    
}

.link{
    margin-top: 2%;
    color: rgb(46, 46, 46);
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.link2{
    color: #976044;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    transform: 0.3s;

}
.link2:hover{
    color: #52250e;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;



}
.button{
    width: 80%;
    height: 7%;
    margin-top: 3%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #976044;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 2px 20px darkgray;
    color:rgb(255, 255, 255);
    transition: 0.3s;

}
.button:hover{
    background-color: #52250e;

}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: Gainsboro;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.9);    
}
.box2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    background-color: Gainsboro;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.9);    
}

.Copyright{
    font-size: 10px;
    color: rgb(46, 46, 46);
    font-weight: lighter;
}

.error-message{
    color:rgb(255, 138, 138);    
    font-size: 12px;  
    font-weight: bold;
}

.mensagem-cadastro{    
    font-size: 15px;
    margin: 0%;
    color: rgb(128, 255, 134);
    text-shadow: 1px 1px 1px #000;
}
.mensagemLogin{    
    font-size: 15px;
    margin: 0%;
    color: rgb(128, 255, 134);
    text-shadow: 1px 1px 1px #000;
}

